doctype html
html
    head
        title Main Page
        link(rel="stylesheet",href="/css/font-awesome.min.css")
        link(rel="stylesheet",href="/css/main.css")
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/script.js")
        script(src="/js/main.js")
    body
        #bg
        #content
            #header
                a#logo(href="/") ReadGen
                #search
                    form#search_form(action="",method="POST")
                        .search-field
                            input(type="text",name="q")
                            .fa.fa-spin.fa-circle-o-notch.hidden
                        button Search
                    #results.hidden.popup
            #spinner
                .fa.fa-spin.fa-circle-o-notch
            #main.content
                h1 Your books
                #reading.category
                    h3 
                        |Currently reading
                        span.count
                    .list
                #wanted.category
                    h3
                        |Want to read
                        span.count
                    .list
                #recomend.category
                    h3
                        |Recomendations
                        span.count
                    .list
            #book.content
                #title
                    img(src="")
                    .author #Author
                    .title #Title
                    .rating
                        .fa.fa-star
                        span.rate 0
                h3 Annotation
                .annotation #Annotation
        #notes