doctype html
html
    head
        title Main Page
        link(rel="stylesheet",href="/css/font-awesome.min.css")
        link(rel="stylesheet",href="/css/main.css")
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/script.js")
        script(src="/js/main.js")
    body
        #bg
        #content
            #header
                a#logo(href="/") ReadGen
                #search
                    form#search_form(action="",method="POST")
                        .search-field
                            input(type="text",name="q")
                            .fa.fa-spin.fa-circle-o-notch.hidden
                        button Search
                    #results.hidden.popup
            #spinner
                .fa.fa-spin.fa-circle-o-notch
            #main.content
                h1 Your books
                #reading.category
                    h3 
                        |Currently reading
                        span.count
                    .list
                #wanted.category
                    h3
                        |Want to read
                        span.count
                    .list
                #stopped.category
                    h3
                        |Stopped
                        span.count
                    .list
                #notreading.category
                    h3
                        |Will not read
                        span.count
                    .list
            #book.content
                #title
                    img(src="")
                    .author #Author
                    .title #Title
                    .rating
                        .fa.fa-star
                        span.rate 0
                h2 Status
                #status
                    button.status(data-id="1",rel="status") Will not read
                    button.status(data-id="2",rel="status") Reading 
                    button.status(data-id="3",rel="status") Want to read
                    button.status(data-id="4",rel="status") Stopped
                h2 Annotation
                .annotation #Annotation
                h2 Genres
                .genre #Genre
                h2 Reviews
                .review
        #notes